<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.edityj.chapter2.mapper.RoleDao">
    <select id="getRole" parameterType="long" resultType="role">
        select * from role where id = #{id}
    </select>
    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id">
        insert into role(username, password, sex, name) value (#{username}, #{password}, #{sex}, #{name})
    </insert>
</mapper>